@using Microsoft.AspNetCore.Identity
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Security.Authorization;
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page CubanConexions";
}

<br>

<div class="container">
    <div class="row">
        @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ACCOUNT_ADMIN_ROLE))
        {

        <ul class="nav">

            <li><a asp-area="account" asp-controller="user">Usuarios Front- End</a></li>
            <li><a asp-area="account" asp-controller="recarga">Recargas Front - End</a></li>
           

        </ul>
        }
        else
        {                       
           <h2 class="text-center">P&aacute;gina en Construcci&oacute;n</h2>
        }
    </div>
</div>