@using Microsoft.AspNetCore.Identity
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Security.Authorization;
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page CubanConexions";
}

@if (SignInManager.IsSignedIn(User) && (User.IsInRole(Roles.ACCOUNT_ADMIN_ROLE) || User.IsInRole(Roles.ACCOUNT_SELLER_ROLE)))
{
    <div class="container">
        <div class="row">
            <br />
            <br />
            <br />
            <ul>
                <li><a asp-area="account" asp-controller="recarga">Recargas</a></li>
                <li><a asp-area="account" asp-controller="cellulartuneuprequest">Listado de Recargas Cubacel Pendientes</a></li>
                <li><a asp-area="account" asp-controller="nautatuneuprequest">Listado de Recargas Nauta Pendientes</a></li>
                @if (User.IsInRole(Roles.ACCOUNT_ADMIN_ROLE))
                {
                    <li><a asp-area="account" asp-controller="user">Gestionar Usuarios</a></li>
                    <li><a asp-area="account" asp-controller="cellulartuneuprecord" asp-action="getcellularbalancetunerecordaccount">Listado de Recargas Cubacel</a></li>
                    <li><a asp-area="account" asp-controller="NautaTuneUpRecord" asp-action="getnautabalancetunerecordaccount">Listado de Recargas Nauta</a></li>
                    <li><a asp-area="account" asp-controller="buscador" asp-action="searchbalancetuneaccount">Buscador de Recargas Realizadas</a></li>
                }

                @if (User.IsInRole(Roles.ACCOUNT_SELLER_ROLE))
                {
                    <li><a asp-area="account" asp-controller="cellulartuneuprecord" asp-action="getcellularbalancetunerecord">Listado de Recargas Cubacel</a></li>
                    <li><a asp-area="account" asp-controller="NautaTuneUpRecord" asp-action="getnautabalancetunerecord">Listado de Recargas Nauta</a></li>
                    <li><a asp-area="account" asp-controller="buscador" asp-action="searchbalancetune">Buscardor de Recargas Realizadas</a></li>
                }

            </ul>
        </div>
    </div>

}
else
{
    <section id="intro" class="clearfix">
        <div class="container">
            <div class="intro-img">
                <!--<img src="img/intro-img.svg" alt="" class="img-fluid">-->
                <img src="~/images/intro-img-02.png" alt="" class="img-fluid">
            </div>

            <div class="intro-info">
                <h2>Bienvenido a<br><span>Conexión Cubanos</span></h2>
                <div>
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn-get-started scrollto">Iniciar sesión</a>
                    <a asp-controller="home" asp-action="about" class="btn-services scrollto">Nosotros</a>
                </div>
            </div>

        </div>
    </section><!-- #intro -->
}
