
@model SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.NautaBalanceTuneUpRequest

@{
    ViewData["Title"] = "Detalles de Recarga a Procesar Nauta";
}
<section id="mainrender">
    <div class="container">
        <div class="row">

            <h2>Detalles de Recarga a Procesar Nauta</h2>

            <div>
                <h4>Usuario</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EmailAddressTarget)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EmailAddressTarget)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Requested)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Requested)
                    </dd>

                </dl>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
