<br>
<row>
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recargar <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="id_cubalcel">Cubacel</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="nauta">Nauta Hogar</a></li>
            </ul>
        </div>
    </div>
</row>
<br>
<row>
    <br>
    <div class="well col-md-8">
        <form class="form-horizontal">
            <h4 class="text-center">Formulario de Recargas</h4>
            <div id="formulario_recargas">
                <div class=" form-group col-md-12" id="dynamic_inputs">



                </div>
                <div class="input-group-btn" id="button_send">
                    <button class="btn btn-success add-more" type="button">Realizar Recargas</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-1"> </div>
    <div class="well col-md-3">
        <h4 class="text-center">Ultimos Contactos</h4>
    </div>

</row>

@section scripts
    {


    <script src="~/js/dynamic_form.js">   
    </script>

}
