<section id="mainrender">
    <div class="container">
        <div class="row">

            <div class="well col-md-12">
                <form class="form-horizontal" id="formulario_recargas">
                    <h4 class="text-center">Crear nueva lista de Recargas</h4>
                    <div id="formulario_recargas">
                        <div class=" form-group" id="dynamic_inputs">
                            <div id="zone_cell" class="form-group">
                            </div>
                            <div id="zone_nauta" class="form-group">
                            </div>
                        </div>
                        <div id="formulario_recargas-footer">
                            <div class="btn-group col-md-4">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Agregar nueva Recarga <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="id_cubalcel">Cubacel</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" id="nauta">Nauta Hogar</a></li>
                                </ul>
                            </div>
                            <div class="input-group-btn col-md-4" id="button_send">
                                <button class="btn btn-success add-more" type="button">Realizar todas las Recargas</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                
            </div>

        </div>
    </div>
</section>
            @section scripts
                {
                    <script src="~/js/dynamic_form.js"></script>
                }
