@{
    ViewData["Title"] = "Nuevas Recargas";
}


<section id="mainrender">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <h5>Puede realizar m&uacute;ltiples tipos de recargas agregando varias en esta p&aacute;gina, enviando todas de una vez. </h5>
        <hr />
        <div class="row">
            <div class="well col-md-12">
                <form class="form-horizontal" id="formulario_recargas">
                    <div id="formulario_recargas">
                        <div class=" form-group" id="dynamic_inputs">
                            <div id="zone_cell" class="form-group">
                            </div>
                            <div id="zone_nauta" class="form-group">
                            </div>
                        </div>
                        <div id="formulario_recargas-footer">
                            <div class="btn-group col-md-4">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Agregar nueva Recarga <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" id="id_cubalcel">Recarga Cubacel</a>
                                    <a class="dropdown-item" href="#" id="nauta">Recarga Nauta</a>
                                </div>
                            </div>
                            <div class="input-group-btn col-md-4" id="button_send">
                                <button class="btn btn-success add-more col-md-12" type="button">Realizar todas las Recargas</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">

            </div>

        </div>
    </div>
</section>
@section scripts
    {
    <script src="~/js/dynamic_form.js"></script>
}
