@model IEnumerable<SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.CellularBalanceTuneUpRecord>
@{
    ViewData["Title"] = "Buscador de Recargas";
}
<br>
<partial name="_SearchPartial" />

<h2>Resultado de B&uacute;squeda</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Celular
            </th>
            <th>
                Monto
            </th>
            <th>
                Realizada
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberTarget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {

    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/es.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/search.js">
    </script>
}

