@using Microsoft.AspNetCore.Identity
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities;
@using SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Security.Authorization;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
            @if (User.IsInRole(Roles.SYSTEM_ADMIN_ROLE))
            {
                <li>
                    <a asp-controller="management" asp-action="index" title="Manage">Dashboard</a>
                </li>
            }
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mi perfil: @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-login">Cerrar sesi&oacute;n</button>
                </form>
            </li>   
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login" class="btn-login">Iniciar sesi&oacute;n</a></li>
}