@model SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.User

@{
    ViewData["Title"] = "Eliminar Usuario";
}
<section id="eliminar-usuario">
    <div class="container">
        <h3>Eliminar Usuario</h3>
        <h5>
            ¿Seguro que desea eliminar este usuario?
        </h5>
        <div class="row">
            <div class="col-md-8">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Tel&eacute;fono
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group-btn">
                        <div class="back-to-list-btn">
                            <a asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Volver al listado</a>
                        </div>
                        <div class="main-btn">
                            <button type="submit" value="Delete" class="btn btn-danger">Eliminar</button>
                            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
