@model IEnumerable<SSC.CustomSolution.CubansConexion.TuneUpResell.WebApplication.Data.Persistence.Entities.NautaBalanceTuneUpRecord>

@{
    ViewData["Title"] = "Recargas Nauta - Realizadas";
}
<section id="mainrender">
    <div class="container">
        <div class="row">

            <h2>Recargas Nauta - Realizadas</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Usuario Nauta
                        </th>
                        <th>
                            Monto
                        </th>
                        <th>
                            Realizada
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddressTarget)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

