@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<section class="container">
    <h2>@ViewData["Title"]</h2>
    <h4>Enviaremos las opciones para recuperar tu contrase&ntilde;a al correo electr&oacute;nico asociado a tu cuenta. </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label> Correo electr&oacute;nico asociado a tu cuenta</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
