@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<section id="login" class="container">
    <h3>@ViewData["Title"]</h3>
    <p>You have successfully logged out of the application.</p>
</section>

